# HOST_PORT=4002

# Internal username and password for OpenCode Authentication
USERNAME=opencode
WORKSPACE_PASSWORD=pass1

##set this in docker-compose.yml
VOLUME_PATH=./volumes/workspace_one

# The Docker image name and tag
IMAGE_NAME=opencode-go-kit:latest

# The Docker Compose project name to separate multiple running instances
PROJECT_NAME=opencode-alpha
