/.env
/docker-compose.yml
.docker/docker-compose.yml
/public

volumes/workspace_one/*

.docker/volumes/workspace_one/*

volumes/workspace_example/*

.docker/volumes/workspace_example/*

.docker/.env

.notes/
bin/

/vendor/
/Makefile

/Dockerfile

/.Docker